:root {
  --main-bg-color: rgb(177, 177, 177);
}

body {
  background: var(--main-bg-color);
}

.App {
  text-align: center;

  .advance-search {
    display: flex;
    position: absolute;
    left: 20px;
    top: 10px;

    .title {
      color: white;
      font-weight: 700;
    }

    input.apple-switch {
      position: relative;
      -webkit-appearance: none;
      outline: none;
      width: 40px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #D9DADC;
      border-radius: 50px;
      box-shadow: inset -20px 0 0 0 #fff;
      transition: all .4s;
      cursor: pointer;
      margin-left: 20px;
    }
    
    input.apple-switch:after {
      content: "";
      position: absolute;
      top: -1px;
      left: 1px;
      background: transparent;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      box-shadow: 6px 5px 9px rgba(0, 0, 0, 0.2);

    }
    
    input.apple-switch:checked {
      box-shadow: inset 20px 0 0 0 #4ed164;
      border-color: #4ed164;
    }
    
    input.apple-switch:checked:after {
      left: 20px;
      box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
    }
  }

  .app-body {
    display: flex;
    max-width: 980px;
    min-height: 610px;
    overflow: hidden;
    margin: 0 auto;
    justify-content: space-between;

    .filter-section {
      width: 26%;
      margin-right: 10px;
    }

    .jobs-section {

      .not-result {
        color: grey;
        width: 60%;
        height: 40px;
        margin-top: 100px;
  
        span {
          font-size: 30px;
        }
      }

      &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: #F5F5F5;
      }

      &::-webkit-scrollbar{
        width: 8px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: var(--main-bg-color);
      }

      width: 72%;
      max-height: 555px;
      overflow: auto;
      background: white;
      border-radius: 4px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}