.Jobs-Item {
    width: 80%;
    border: 1px solid grey;
    min-height: 110px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;

    .job-icon {
        max-width: 80px;
        width: 30%;
        border: 1px solid grey;
        height: 80px;
        margin: 15px;
        background-size: cover;
        background-position: 50% 50%;
    }

    .info-wrapper {
        display: flex;
        justify-content: space-between;
        width: 40%;
        
        .job-info {
            display: flex;
            max-height: 80px;
            flex-wrap: wrap;
    
            .title {
                width: 100%;
                text-align: left;
                margin-left: 9px;
                font-weight: bold;
            }
    
            .location {
                font-size: 13px;
                margin-left: 10px;

                .fa-map-marker-alt {
                    margin-right: 5px;
                }
            }
    
            .employment {
                font-size: 13px;
                margin-left: 10px;

                .fa-clock {
                    margin-right: 5px;
                }
            }
    
        }
    
        .buttons-wrapper {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 10px;
            width: 30%;
    
            button:first-child {
                margin-bottom: 10px;
                margin-left: 40%;
            }
    
            .bookmark {
                max-width: 102px;
                height: 30px;
                padding: 5px 0px;
                border-radius: 2px;
                color: #fff;
                background: #166ef3;
                outline: 0;
                font-size: 12px;
                letter-spacing: .4px;
                border: none;
                border-radius: 6px 6px 6px 6px;
                cursor: pointer;

                &.active {
                    background: rgb(126, 206, 6);
                }
    
                .fa-bookmark {
                    margin-right: 10px;
                }
    
                &:hover {
                    filter: brightness(50%);
                }
            }
    
            .apply-job {
                min-width: 100px;
                height: 30px;
                padding: 5px 0px;
                border-radius: 2px;
                color: #fff;
                background: var(--main-bg-color);
                outline: 0;
                letter-spacing: .4px;
                border: none;
                border-radius: 6px 6px 6px 6px;
                cursor: pointer;
                font-size: 13px;
    
                .fa-briefcase {
                    margin-right: 10px;
                }
    
                &:hover {
                    filter: brightness(50%);
                }
            }
        }
    }
}